.banner
  &-promo
    background-image: url("../../img/banner/sukhoi.jpg")
    background-position: center
    background-size: cover
    height: 350px
    font-weight: 500
    color: #FFF
    display: flex
    align-items: center
    &-main
      display: flex
      flex-wrap: wrap
      &__header
        font-size: 38px
        padding: 0
      &__button
        background: none
        color: #FFF
        font-weight: 500
        border: 1px solid #FFF
        margin-right: 30px
        padding: 17px
  &-info
    &__item
      &__header
        font-size: 38px
        margin-bottom: 0
      &__comment
        font-size: 14px
  &-company
    &-promo
      background-image: url("../../img/companies/superjet.jpg")
      justify-content: center
      align-items: flex-end
      &__logo
        width: 225px
        height: 225px
        position: relative
        z-index: 1
        top: 112px
        box-shadow: 0px 8px 10px rgba(0,0,0,0.15)
        display: hidden
    &__info
      height: 235px
      background-color: #FFF
      &__item
        padding: 30px 30px
        color: #898989
        font-size: 12px
        font-family: OpenSans
      &__name
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: center
        padding: 30px 0
        &__header
          color:  #111111
          font-size: 33px
          margin: 0
          padding: 0
        &__counter
          color: #0078f9
          font-size: 14px
          margin-top: 12px
