.vacancies
  padding-right: 30px
  color: #000
  font-size: 14px
  font-family: "OpenSans", sans-serif
  &-description
    background-color: #FFF
    padding: 30px
    margin-left: 30px
  &__header
    margin: 0
    margin-bottom: 20px
    font-size: 24px
    line-height: 33px
    padding: 0
    color: #111
  &-light
    font-size: 12px
    color: #a2a3a2
  &__body
    margin-top: 18px
  &-popular
    border-radius: 4px
    width: 100%
    background: white
    padding: 20px
    &__company
      display: flex
      justify-content: flex-start
      margin: 10px 0
      width: 100%
      align-content: space-between
    &__avatar
      width: 45px
      height: 45px
    &__description
      margin-left: 10px
      display: flex
      flex-direction: column
    &__name
      line-height: 26px
      font-size: 16px
    &__count
      line-height: 18px
      font-family: "Open Sans", sans-serif
      font-weight: 300
      font-size: 14px
    &__vacancy
      margin: 12px 0
      font-family: "Open Sans", sans-serif
    &__title
      line-height: 19px
      font-size: 14px
    &__subname
      font-size: 12px
      font-weight: 400
      color: black
    &__link
      color: black
      text-decoration: none
      &:hover
        color: black
.button-new-vacancy
  margin-bottom: 30px
  font-family: "OpenSans", sans-serif
  font-size: 12px

.vacancy
  &-submit
    &__header
      margin-top: 30px
    &__header:first-child
      margin-top: 0
    &__info
      resize: vertical
      width: 100%
      min-height: 350px
      margin-bottom: 30px
