.vacancies
  padding-right: 30px
  color: #000
  font-size: 12px
  font-family: "OpenSans", sans-serif
  &-description
    background-color: #FFF
    padding: 30px
    margin-left: 30px
  &__header
    margin-bottom: 30px
    font-size: 18px
    color: #111
  &-light
    color: #a2a3a2
