@import "fonts"
@import "libs"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%
  background-color: #FFF

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  opacity: 1
  overflow-y: visible
  height: auto
  background-color: #FAFAFA

.img-responsive
  display: block
  max-width: 100%
  height: auto

a:hover
  text-decoration: none
  color: inherit

h1, h2, h3, h4, h5, h6
  font-weight: normal

/* tags input section */

.bootstrap .tags 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

.bootstrap .tags.focused 
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);


.bootstrap .tags .tag-item
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;


.bootstrap .tags .tag-item.selected
  background: #868686;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;


.bootstrap .tags .tag-item button
  background: transparent;
  color: #000;
  opacity: .4;


.bootstrap .autocomplete
  border-radius: 4px;

  /* tags input section */

  /* dropdown section */

.dropdown-menu
  padding: 0
  padding-top: 2px
  padding-bottom: 2px
  li
    &:hover
      a
        background-color: #0069ff
        color: #fff
    &.divider
      margin-top: 2px
      margin-bottom: 2px
    a
      font-size: 12px

  /* dropdown section */

.suggestions-wrapper
  .suggestions-suggestions
    .suggestions-suggestion
      font-size: 14px
    .suggestions-selected
      color: white
      background: #428bca



@import "../blocks/header/header"
@import "../blocks/copyright/copyright"
@import "../blocks/placeholder/placeholder"
@import "../blocks/footer/footer"
@import "../blocks/banner/banner"
@import "../blocks/content/content"
@import "../blocks/categories/categories"
@import "../blocks/card/card"
@import "../blocks/vacancies/vacancies"
@import "../blocks/companies/companies"
@import "../blocks/company/company"
@import "../blocks/responses/responses"
@import "../blocks/login/login"
@import "../blocks/students/edit"


@import "media"
// Всегда в конце