.card
  &-category
    height: 230px
    width: 230px
    float: left
    background-image: url("../../img/categories/engineer.jpg")
    background-position: center
    background-size: cover
    margin: 0 18px
    display: inline-flex
    flex-direction: column
    justify-content: flex-end
    border-radius: 4px
    &__content
      padding: 12px
      width: 100%
      height: 100%
      border-radius: 4px
      display: flex
      flex-direction: column
      justify-content: flex-end
      background: linear-gradient(transparent, rgba(0,0,0,0.6))
    &:first-child
      margin-left: 0px
    &__header
      color: #FFF
      font-size: 13px
    &__counter
      color: #989a9b
      font-size: 12px
      margin-bottom: 0
      &__number
        color: #FFF
  &-vacancy
    width: 100%
    border-radius: 4px
    padding: 30px
    background-color: #FFF
    display: flex
    flex-direction: row
    align-content: flex-start
    align-items: flex-start
    margin-bottom: 30px
    &__logo
      width: 40px
      height: 35px
      display: inline-block
    &__description
      display: inline-flex
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
      &__details
        font-family: "OpenSans", sans-serif
        font-size: 12px
        color: #000
        &-special
          color: #a2a3a2
      &-withoutLogo
        margin-left: 0
      &__header
        font-size: 16px
        line-height: 22px
        font-family: "Open Sans", sans-serif
        font-weight: 400
        margin: 0
        color: #111
      &__company
        color: #127ac7
        font-size: 12px
        font-family: "OpenSans", sans-serif
      &__course
        color: #a2a3a2
        font-size: 12px
        font-family: "OpenSans", sans-serif
      &__requirements
        color: #111
        font-size: 14px
        font-family: "OpenSans", sans-serif
      &__feedback
        width: 100%
        align-items: center
        display: flex
        justify-content: space-between
        &__date
          color: #a2a3a2
          font-family: "OpenSans", sans-serif
          font-size: 12px
        &__button
          font-family: "OpenSans", sans-serif
          font-size: 12px
  &-company-item
    display: flex
    flex-direction: column
    margin-bottom: 30px
    border-radius: 4px
    &__logoContainer
      border-top-left-radius: 4px
      border-top-right-radius: 4px
      background-color: #FFF
      padding: 20px 60px
      border-bottom: 2px solid #FAFAFA
    &__description
      border-bottom-left-radius: 4px
      border-bottom-right-radius: 4px

      background-color: #FFF
      display: flex
      flex-direction: column
      padding: 20px
      &__count
        color: #000
      &__name
         color: #127ac7
         font-size: 14px
         font-family: "OpenSans", sans-serif
         font-weight: 500
      &__vacancies
        color: #B5B6B7
        font-size: 12px
        font-family: "OpenSans", sans-serif
  &-response
    padding: 30px
    background-color: #FFF
    width: 100%
    display: flex
    margin-bottom: 30px
    align-items: center
    &__content
      display: flex
      width: 100%
      flex-direction: row
      align-items: flex-end
      justify-content: flex-start
    &__avatar
      height: 70px
      width: 70px
      box-shadow: 0px 8px 10px rgba(0,0,0,0.15)
    &__about
      margin: 0 15px
      display: flex
      flex-direction: column
      height: 70px
      justify-content: space-even
      &__header
        color: #111
        font-size: 16px
      &__course
        color: #000000
        font-size: 12px
        font-family: "OpenSans", sans-serif
        margin-bottom: auto
        &-special
          color: #898989
      &__birthday
        color: #064cfe
        font-size: 12px
        font-family: "OpenSans", sans-serif
        margin-bottom: 0
        &-special
          color: #898989
    &__education
      &__item
        color: #898989
        font-size: 12px
        font-family: "OpenSans", sans-serif
        margin-bottom: 0
        line-height: 1.6
    &__response
      font-size: 14px
      font-family: "Open Sans", sans-serif
      font-weight: 500
      color: black
    &__invitations
      font-family: "Open Sans", sans-serif
      font-weight: 500
      font-size: 14px
      color: #35CC62

  &-skill
    padding: 30px
    background-color: #FFF
    border-top: 2px solid rgba(0,0,0,0.15)
    color: #393939
    font-size: 12px
    font-family: "OpenSans", sans-serif
    &__header
      color: #393939
      font-size: 20px
      font-family: "OpenSans", sans-serif
      margin-bottom: 25px
    &-about
      border-top: none
      &-key
        color: #898989
      &-item
        color: #064cfe
        font-size: 14px
        &__preffered
          color: #393939
          font-size: 12px
      &__description
        color: #898989
        font-size: 14px
        margin-top: 35px
    &-xp
      &__item
        margin-bottom: 20px
        display: flex
        flex-direction: row
        align-items: center
        flex-wrap: wrap
        &__bullet
          background-color: rgba(0,105,255,0.1)
          width: 22px
          height: 22px
          border-radius: 100%
          padding: 5px
          display: flex
          align-items: center
          justify-content: center
          margin-left: 45px
          &-inner
            background-color:  #0069ff
            width: 12px
            height: 12px
            border-radius: 100%
        &__name
          margin-left: 15px
          margin-right: 30px
          color: #064cfe
          font-size: 16px
        &__company
          color: #393939
          font-size: 14px
          width: 100%
          margin-left: 82px
        &__description
          color: #393939
          font-size: 13px
          margin-left: 82px
          display: block
          width: 100%
          margin-top: 10px
          &__details
            padding: 30px
            width: 100%
    &-certs
      &__item
        margin-bottom: 20px
        display: flex
        flex-direction: row
        align-items: center
        flex-wrap: wrap
        &__bullet
          background-color: rgba(0,105,255,0.1)
          width: 22px
          height: 22px
          border-radius: 100%
          padding: 5px
          display: flex
          align-items: center
          justify-content: center
          margin-left: 45px
          &-inner
            background-color:  #0069ff
            width: 12px
            height: 12px
            border-radius: 100%
        &__name
          margin-left: 15px
          margin-right: 30px
          color: #064cfe
          font-size: 16px
        &__company
          color: #393939
          font-size: 14px
          margin-right: 60px
    &-courses
      &__item
        margin-bottom: 20px
        display: flex
        flex-direction: row
        align-items: center
        flex-wrap: wrap
        &__bullet
          background-color: rgba(0,105,255,0.1)
          width: 22px
          height: 22px
          border-radius: 100%
          padding: 5px
          display: flex
          align-items: center
          justify-content: center
          margin-left: 45px
          &-inner
            background-color:  #0069ff
            width: 12px
            height: 12px
            border-radius: 100%
        &__name
          margin-left: 15px
          margin-right: 30px
          color: #064cfe
          font-size: 16px
        &__company
          color: #393939
          font-size: 14px
          margin-right: 60px
        &__description
          color: #393939
          font-size: 13px
          margin-left: 82px
          display: block
          width: 100%
    &-confs
      &__item
        margin-bottom: 20px
        display: flex
        flex-direction: row
        align-items: center
        flex-wrap: wrap
        &__bullet
          background-color: rgba(0,105,255,0.1)
          width: 22px
          height: 22px
          border-radius: 100%
          padding: 5px
          display: flex
          align-items: center
          justify-content: center
          margin-left: 45px
          &-inner
            background-color:  #0069ff
            width: 12px
            height: 12px
            border-radius: 100%
        &__name
          margin-left: 15px
          margin-right: 30px
          color: #064cfe
          font-size: 16px
        &__description
          color: #393939
          font-size: 13px
          margin-left: 82px
          display: block
          width: 100%
    &-skills
      &__list
        list-style: none
        padding: 0
        display: flex
        flex-wrap: wrap
        flex-direction: row
        &__item
          height: 30px
          background-color: #eef0f1
          margin-right: 6px
          border-radius: 4px
          min-width: 60px
          padding: 7px 11px
          text-align: center
          vertical-align: middle
    &-langs
      &__list
        list-style: none
        padding: 0
  &-student
    background-color: #FFF
    padding: 15px
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    height: 100px
    font-family: "OpenSans", sans-serif
    &__avatar
      margin-top: 15px
      height: 45px
      margin-bottom: 15px
      width: 45px
      margin-right: 15px
      line-height: 1
    &__name
      color: #111111
      font-size: 14px
      margin-bottom: 0
    &__speciality
       color: #064cfe
       font-size: 12px
    &__course
      color: #064cfe
      font-size: 12px
  &-company
    &__head
      height: 130px
      background-image: url("../../img/companies/superjet.jpg")
      background-size: cover
      background-position: center
      display: flex
      flex-direction: column
      align-items: center
      justify-content: flex-end
      &__logo
        height: 100px
        width: 100px
        position: relative
        top: 50px
        box-shadow: 0px 8px 10px rgba(0,0,0,0.15)
    &__description
      background-color: #FFF
      padding: 70px 30px
      color: #393939
      font-size: 12px
      font-family: "OpenSans", sans-serif
      display: flex
      flex-direction: column
      &__name
        color: #111111
        font-size: 18px
        font-family: "Montserrat", sans-serif
        align-self: center
      &__count
         color: #0078f9
         align-self: center
         margin-bottom: 30px
      &-light
        color: #898989
  &-filter
    padding: 20px
    border-radius: 4px
    background: white
