.card
  &-category
    height: 230px
    width: 230px
    padding: 12px
    background-image: url("../../img/categories/engineer.jpg")
    background-position: center
    background-size: cover
    margin-right: 15px
    margin: 15px 15px 15px 0
    display: inline-flex
    flex-direction: column
    justify-content: flex-end
    &__header
      color: #FFF
      font-size: 13px
    &__counter
      color: #989a9b
      font-size: 12px
      margin-bottom: 0
      &__number
        color: #FFF
  &-vacancy
    width: 100%
    padding: 25px 25px 25px 50px
    background-color: #FFF
    display: flex
    flex-direction: row
    align-content: flex-start
    align-items: flex-start
    margin-bottom: 30px
    &__logo
      width: 40px
      height: 35px
      display: inline-block
    &__description
      display: inline-flex
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
      margin-left: 64px
      &__header
        font-size: 16px
        color: #111
      &__company
        color: #127ac7
        font-size: 12px
        font-family: OpenSans
      &__course
        color: #a2a3a2
        font-size: 12px
        font-family: OpenSans
      &__requirements
        color: #111
        font-size: 14px
        font-family: OpenSans
      &__feedback
        width: 100%
        align-items: center
        display: flex
        justify-content: space-between
        &__date
          color: #a2a3a2
          font-family: OpenSans
          font-size: 12px
        &__button
          font-family: OpenSans
          font-size: 12px
  &-company
    display: flex
    flex-direction: column
    margin-bottom: 30px
    &__logoContainer
      background-color: #FFF
      padding: 17px 58px
    &__description
      margin-top: 10px
      background-color: #FFF
      display: flex
      flex-direction: column
      padding: 17px 12px
      &__name
         color: #127ac7
         font-size: 12px
         font-family: OpenSans
      &__vacancies
        color: #000
        font-size: 12px
        font-family: OpenSans
