.card
  &-category
    height: 230px
    width: 230px
    padding: 12px
    background-image: url("../../img/categories/engineer.jpg")
    background-position: center
    background-size: cover
    margin-right: 15px
    margin: 15px 15px 15px 0
    display: inline-flex
    flex-direction: column
    justify-content: flex-end
    &__header
      color: #FFF
      font-size: 13px
    &__counter
      color: #989a9b
      font-size: 12px
      margin-bottom: 0
      &__number
        color: #FFF
  &-vacancy
    width: 100%
    padding: 25px 25px 25px 50px
    background-color: #FFF
    display: flex
    flex-direction: row
    align-content: flex-start
    align-items: flex-start
    margin-bottom: 30px
    &__logo
      width: 40px
      height: 35px
      display: inline-block
    &__description
      display: inline-flex
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
      margin-left: 64px
      &__details
        font-family: "OpenSans", sans-serif
        font-size: 12px
        color: #000
        &-special
          color: #a2a3a2
      &-withoutLogo
        margin-left: 0
      &__header
        font-size: 16px
        color: #111
      &__company
        color: #127ac7
        font-size: 12px
        font-family: "OpenSans", sans-serif
      &__course
        color: #a2a3a2
        font-size: 12px
        font-family: "OpenSans", sans-serif
      &__requirements
        color: #111
        font-size: 14px
        font-family: "OpenSans", sans-serif
      &__feedback
        width: 100%
        align-items: center
        display: flex
        justify-content: space-between
        &__date
          color: #a2a3a2
          font-family: "OpenSans", sans-serif
          font-size: 12px
        &__button
          font-family: "OpenSans", sans-serif
          font-size: 12px
  &-company
    display: flex
    flex-direction: column
    margin-bottom: 30px
    &__logoContainer
      background-color: #FFF
      padding: 17px 58px
    &__description
      margin-top: 10px
      background-color: #FFF
      display: flex
      flex-direction: column
      padding: 17px 12px
      &__name
         color: #127ac7
         font-size: 12px
         font-family: "OpenSans", sans-serif
      &__vacancies
        color: #000
        font-size: 12px
        font-family: "OpenSans", sans-serif
  &-response
    padding: 30px
    background-color: #FFF
    width: 100%
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start
    margin-bottom: 30px
    &__avatar
      height: 70px
      width: 70px
      box-shadow: 0px 8px 10px rgba(0,0,0,0.15)
    &__about
      margin: 0 15px
      display: flex
      flex-direction: column
      height: 70px
      justify-content: space-even
      &__header
        color: #111
        font-size: 16px
      &__course
        color: #000000
        font-size: 12px
        font-family: "OpenSans", sans-serif
        margin-bottom: auto
        &-special
          color: #898989
      &__birthday
        color: #064cfe
        font-size: 12px
        font-family: "OpenSans", sans-serif
        margin-bottom: 0
        &-special
          color: #898989
    &__education
      align-self: flex-end
      &__item
        color: #898989
        font-size: 12px
        font-family: "OpenSans", sans-serif
        margin-bottom: 0
        line-height: 1.6
