.footer
  width: 100%
  height: 275px
  background-color: #FFF
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between
  padding: 0 22%
  &__logo
    height: 45px
    margin-right: 30px
  &-social
    list-style: none
    padding: 0
    margin-bottom: 0
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-end
    align-content: flex-end
    &__item
      font-size: 30px
      margin-right: 30px
      color: #333
  &-contacts
    display: flex
    flex-direction: row
    align-items: center
    flex-wrap: nowrap
    &__tel
      color: #878787
      font-family: "OpenSans", sans-serif
      font-size: 16.0px
      margin-right: 30px
    &__adress
      color: #878787
      font-family: "OpenSans", sans-serif
      font-size: 16.0px
